$background: blue;

// Header
$header-border-background: #1D4358;
$header-background: #161616;
$header-color: #404040;

// Home
$home-li-border-background: #183C4A;
$home-li-background: #060A0B;
$home-li-color: #CBC9CA;
